A-sensitive
*.swo
kyee.txt
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
*.tgz
*.zip
.env.php
.DS_Store
Thumbs.db

app/data
app/config/session.php
app/config/mail.php
app/config/database.php
app/config/local/database.php
app/data/*
/vendor/*
/bootstrap/compiled.php
/vendor/autoload.php
/vendor/composer/autoload_real.php
.htaccess
robots.txt
sitemap.xml

.*.swp
*.vim
.swp

.idea
app/storage/debugbar
bin/tmp.sh
dd.txt
public/info.php

/_assets
app/config/local/database.php
public/min/*
 
tmp/
app/storage/*

rsyncconfig
imports/keys/*
exports/users/*
hrs-worked.txt
public/img/staging
public/img/tmp
public/img/attic
public/js/tmp
